@tailwind base;

@tailwind components;

.project-card__text {
    @apply px-4 py-1 text-gray-600 text-sm font-light tracking-wide;
}

.project-card__text ul {
    @apply my-1 list-inside list-disc; 
}

.project-card__text a {
    @apply text-blue-500 font-normal;
}

.project-card__text h3 {
    @apply mb-2 text-base font-semibold;
}


@screen sm {
    .project-card__text {
        @apply px-5 py-1 font-normal;
    }
    
    .project-card__text ul {
        @apply my-2; 
    }
    
    .project-card__text h3 {
        @apply mb-3 font-semibold;
    }    
    
    .project-card__text a {
        @apply text-blue-500 font-medium;
    }
}

@screen md {
    .project-card__text {
        @apply px-6 py-2;
    }

    .project-card__text img {
        height: auto;
    }
}

@screen lg {
    .project-card__text {
        @apply px-8 py-2;
    }
}

@screen xl {    
    .project-card__text {
        @apply leading-relaxed;
    }
    
    .project-card__text h3 {
        @apply mb-4 text-lg;
    }
}

.nav__tab {
    @apply mr-2 ml-1 mb-1;
}

@screen md {
    .nav__tab {
        transition: transform 0.2s;
    }

    .nav__tab:hover {
        transform: translateY(-3px);
    }
}

.nav__tab_active h2 {
    border-bottom: 2px solid;
    @apply border-pink-500;
    @apply text-pink-500;
}

.nav__tab_active svg {
    @apply text-pink-600;
}

.nav__icon {
    @apply inline mr-1 h-4 w-auto fill-current text-gray-700;
}


/* Stack nav tabs on smallest screens */
@media (max-width: 359px) {
    .nav__container {
        @apply flex-col items-start;
    }
}

@screen sm {
    .nav__tab {
        @apply mr-6;
    }
}

@screen md {
    .nav__icon {
        @apply h-5;
    }
}

.contact__input {
    @apply w-full text-sm text-gray-700 p-1.5 px-2 my-2 border border-gray-500 rounded;
}

.contact__input::placeholder {
    @apply text-gray-600 text-sm;
}

@screen md {
    .contact__input {
        @apply text-base py-2 px-3 my-3;
    }

    input.contact__input {
        box-sizing: border-box;
        width: 48%;
    }
}

.contact__input:hover {
    @apply bg-gray-100;
}

.contact__input:focus {
    @apply bg-pink-100;
}

@tailwind utilities;

.min-h-64 {
    min-height: 16rem;
}


